/* Swiper Grundstruktur */
.swiper,
.swiper-wrapper,
.swiper-slide {
  overflow: visible !important;
}

.swiper {
  overflow: visible !important;
}

.swiper-slider_component {
  transform: rotateX(26deg) rotateY(-46deg) rotateZ(17deg);
  transform-origin: center center;
}

/* --- Active States --- */

/* Standard-Slides */
.swiper-slide {
  transition: transform 1s ease;
  transform-origin: center center;
}

/* Aktive Slide größer */
.swiper-slide.swiper-slide-active {
  transform: scale(1.2); /* Karte wächst */
  z-index: 2;
}

/* Andere Slides optional etwas kleiner */
.swiper-slide:not(.swiper-slide-active) {
  transform: scale(0.9);
  z-index: 1;
}

/* Aktiver Titel */
.project-title.swiper-slide-active {
  opacity: 1;
  color: #1c1c1c;
}

.project-title.swiper-slide-active .titles-dot {
  background-color: #1c1c1c;
}

/* --- Hover States --- */
.project-visual-wrapper .project-highlight {
  opacity: 0;
  transition: 0.3s ease opacity;
}

.project-visual-wrapper:hover .project-highlight {
  opacity: 1;
}

/* --- Video Loading Screen --- */
.is-loading .load-screen {
  opacity: 1;
}
